# Git Ignore

# Folder Ignored
.cloud
.storage
.vscode
blueprints
media
tts
zigbee2mqtt

# File Ignored
ip_bans.yaml
secrets.yaml
known_devices.yaml
home-assistant_v2.db
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
home-assistant_v2.db-shm
home-assistant_v2.db-wal
hassos-2020f-a212bf5e55ff.json

*.mp3
*.jpg
