# Git Ignore

# Folder Ignored
.cloud
.storage
.vscode
blueprints
image
media
tts
zigbee2mqtt

# File Ignored
ip_bans.yaml
secrets.yaml
known_devices.yaml
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
jarvis-59028-6b0d0b5a50ba.json

*.mp3
*.jpg
