# Git Ignore

# Folder Ignored
.cloud
.storage
.vscode
media
tts


# File Ignored
ip_bans.yaml
secrets.yaml
known_devices.yaml
home-assistant_v2.db
home-assistant.log
home-assistant.log.1
home-assistant_v2.db-shm
home-assistant_v2.db-wal
homeassistant-23c7d-2736d08c68e3.json

*.mp3
*.jpg
